@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-foreground: #f4f4f5;

  --color-card: rgb(255 255 255 / 0.05);
  --color-card-foreground: #f4f4f5;

  --color-overlay: rgb(0 0 0 / 0.20);

  --color-primary: #7b3fff;
  --color-primary-hover: #9366ff;
  --color-primary-dark: #6540dd;
  --color-primary-foreground: #ffffff;

  --color-border: rgb(255 255 255 / 0.10);

  --color-muted: rgb(255 255 255 / 0.03);
  --color-muted-foreground: #a1a1aa;

  --color-destructive: #ef4444;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
